.nav-logo {
  display: flex;
  justify-content: center;
}
.logo {

  height: 30px;
 
  background: transparent;
}
.site-layout-background {
  background: transparent;
  padding: 24;
  min-height: calc(100vh - 300px);
}
.ant-menu {
  border-bottom: none !important;
  font-size: 30;
}
.bg-transparent {
  background: transparent !important;
}
.font-text {
  font-size: 16px;
  color: white !important;
  font-family: "Times New Roman", Times, serif !important;
}
.ant-layout-header {
  padding-top: 18px !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  padding-bottom: 0 !important;
  line-height: 40px !important;
  background: rgb(244, 164, 96,0.4) !important;
  position: relative;
}

.font-submenu {
  font-size: 16px;
 
  font-family:  "Times New Roman", Times, serif !important;
}
.font-submenu-side-bar{
  font-size: 14px;
 
  font-family:  "Times New Roman", Times, serif !important;
}
.font-menu-side-bar{
  font-size: 15px;
  color: #555555 !important;
  font-family:  "Times New Roman", Times, serif !important;
}
.font-name {
  font-family:  "Times New Roman", Times, serif !important;
  font-size: 15px;
  color: white;
}
.bookSearch{
  width: 200% !important;
}
.headerNavBar{
 
  border-right: 0px;
}
.ant-input-group-addon {
  background-color: rgb(13, 92, 182) !important;
}
/* .ant-btn-primary {
  background-color: transparent !important;
  border-color: transparent !important
} */
.ant-input-lg {
  padding: 8px 11px !important;
  font-size: 14px !important;
  color: blue !important
}