.nav-logo {
  display: flex;
  justify-content: center;
}
.logo {
  width: 190px;
  height: 100px;
  margin: 16px 0px 0px 0;
  background: transparent;
}
.site-layout-background {
  background: transparent;
  padding: 24;
  min-height: calc(100vh - 300px);
}
.ant-menu {
  border-bottom: none !important;
  font-size: 30;
}
.bg-transparent {
  background: transparent !important;
}
.font-text {
  font-size: 18px;
  color: white !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.ant-layout-header {
  padding: 0 160px !important;
  line-height: 40px !important;
  background: black !important;
}
.font-submenu {
  font-size: 18px;
  color: black !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.font-name {
  /* font-family: Georgia, "Times New Roman", Times, serif !important; */
  font-size: 20px;
  color: white;
}
