.backgroundlogin {
  background: white !important;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-layout-background-signin {
  background: white !important;
  height: 100% !important;
  padding: 20px 40px !important;
  margin-bottom: 0px !important;
  border-radius: 20px !important;
  border: lightgray solid 1px !important;
  box-shadow: 10px 10px 5px grey !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  min-height: calc(100vh - 600px) !important;
}
.btn-login {
  margin-left: 30px;
  padding: 0px 50px !important;
  background-color: tomato !important;
}
.continue {
  margin-left: 40px;
  margin-bottom: 0;
  font-size: 16px;
}
.img-login {
  margin-left: 70px;
  width: 50px;
  height: 50px;
}
.form-item {
  margin-bottom: 0 !important;
}
.input-signin {
  margin-right: 60px !important;
}
