.backgroundregister {
  background: white !important;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-layout-background-register {
  background: white !important;
  height: 100%;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 20px;
  border: lightgray solid 1px;
  box-shadow: 10px 10px 5px grey;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  min-height: calc(100vh - 600px) !important;
}
.btn-register {
  margin-left: 20px;
  padding: 0px 50px !important;
  background-color: tomato !important;
}
.continue-register {
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 16px;
}
.img-login-register {
  margin-left: 60px;
  width: 50px;
  height: 50px;
}
.form-item-register {
  margin-bottom: 5px !important;
  margin-right: 60px !important;
}
