.order-user-info {
  background-color: white;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.order-user-info-form {
  display: flex;
  background-color: white;
  justify-content: center;
  justify-items: center;
}

.order-user-name {
  display: flex;
  justify-content: space-between;
}

.order-item-image-header {
  width: 60px;
}
.order-cartitem {
  display: flex;
  background-color: white;
  margin-top: 0px;
  padding: 10px 30px;
}
.order-item-image {
  height: 100px;
  width: 60px;
}
.order-item-name {
  padding-left: 30px;
  font-size: 20px;
  width: 300px;
}
.order-item-totalquantity {
  display: flex;
  font-size: 18px;
  width: 250px;
  justify-content: center;
  align-items: center;
}
.order-item-quantity {
  display: flex;
  font-size: 20px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
.order-item-totalprice {
  display: flex;
  font-size: 20px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: tomato;
}

.order-cart-footer {
  display: flex;
  background-color: white;
  margin-top: 20px;
  padding: 10px 30px;
  position: fixed;
  /* width: 1370px; */
  height: 80px;
  justify-content: end;
  bottom: 0;
  right: 160px;
  left: 160px;
  border-top: lightsteelblue solid 0.5px;
  box-shadow: 0px -3px 10px -2px lightslategrey;
}
.order-order-btn-background {
  display: flex;
  align-items: center;
}
.order-order-btn {
  background-color: #ff7f50 !important;
  color: white !important;
  width: 150px;
  height: 50px !important;
  font-size: 20px !important;
}
.order-order-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 18px;
  margin-bottom: 0px;
}
.order-order-total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 28px;
  margin-bottom: 0px;
  color: #ff7f50;
}
.order-discountt {
  font-weight: 400;
  margin-left: 8px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  line-height: 22px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 8px;
}
