.item-image-header {
  width: 100px;
}
.cartitem {
  display: flex;
  background-color: white;
  margin-top: 10px;
  padding: 10px 30px;
}
.item-image {
  height: 150px;
  width: 100px;
}
.item-name {
  padding-left: 30px;
  font-size: 20px;
  width: 300px;
}
.item-totalquantity {
  display: flex;
  font-size: 18px;
  width: 250px;
  justify-content: center;
  align-items: center;
}
.item-quantity {
  display: flex;
  font-size: 20px;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.item-totalprice {
  display: flex;
  font-size: 20px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: tomato;
}
.item-delete {
  display: flex;
  font-size: 18px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: red;
}
.cart-footer {
  display: flex;
  background-color: white;
  margin-top: 20px;
  padding: 10px 30px;
  position: fixed;
  width: 1370px;
  height: 80px;
  justify-content: end;
  bottom: 0;
}
.order-btn-background {
  display: flex;
  align-items: center;
}
.order-btn {
  background-color: #ff7f50 !important;
  color: white !important;
  width: 150px;
  height: 50px !important;
  font-size: 20px !important;
}
.order-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 18px;
  margin-bottom: 0px;
}
.order-total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 28px;
  margin-bottom: 0px;
  color: #ff7f50;
}
.discountt {
  font-weight: 400;
  margin-left: 8px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  line-height: 22px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 8px;
}
