.cate-book {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  background: white;
  width: 100%;
  grid-column-gap: 70px;
}

.facet-list {
  min-width: 300px;
  margin-top: 3rem;
  padding-left: 30px;
}
.right-content {
  padding-left: 10px;

  width: 100%;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  /* grid-template-rows: repeat(5, 420px); */
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.preview-image {
  height: 330px;
  background-size: cover;
}
.font-cate {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 20px !important;
  color: "#404040";
}
