.cate-book {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  background: white;
  width: 100%;
  grid-column-gap: 70px;
}

.facet-list {
  min-width: 250px;

  padding-left: 20px;
  border-right: 1px solid #efefef;

  gap: 0px !important;
}
.right-content {
  padding-left: 10px;
  padding-top: 30px;
  width: 100%;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  /* grid-template-rows: repeat(5, 420px); */
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.preview-image {
  height: 330px;
  background-size: cover;
}
.font-cate {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  color: "#404040";
}
.font-cate-title {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  color: "#404040";
  font-weight: bold;
}
.relate-book-discount {
  margin-left: 3px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  height: 22px;
  
  margin-top: 0;
  display: flex;
  padding: 0px 4px;
}
.cover-book-card {
  display: block;
}
