.label {
  font-size: 20px !important;
}
.address-background {
  background: white;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 200px);
}
.address-item-background {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  padding: 10px 40px;
  border-top: 1px solid #efefef;
}
.action-background {
  display: flex;
}
.action-item-slice {
  margin: 0px 10px;
  padding-bottom: 0px;
}
.action-item {
  margin: 0px 10px;
  padding-bottom: 0px;
  cursor: pointer;
}
.btn-add-background {
  background: white;
  display: flex;
  justify-content: end;
  width: 100%;

  padding: 20px 60px;
}
.btn-add {
  background: tomato !important;
  font-size: 20px !important;
  height: 50px !important;
  padding: 5px 20px !important;
  color: white !important;
}
