.preview-image {
  height: 330px;
  background-size: cover;
}

.book-images {
  width: 400px;
}
.discount {
  font-weight: 400;
  margin-left: 8px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  line-height: 22px;
  font-size: 18px;
  padding: 0px 4px;
  align-self: end;
}
.quantity-input {
  width: 60px !important;
  font-size: 18px !important;
}

.quantity-btn {
  font-size: 18px !important;
  padding: 0 12px !important;
  font-weight: bold !important;
  height: 40px !important;
  width: 40px !important;
  color: #a9a9a9 !important;
}

.btn-submit {
  margin-top: 30px;
  width: 300px !important;
  background-color: rgb(255, 66, 78) !important;
  color: white !important;
}
