.cate-book {
  display: grid;

  grid-template-columns: repeat(5, 220px);
  background: white;
  width: 100%;
  grid-column-gap: 70px;
}
.cate-list {
  margin-top: 3rem;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 30px;
}
.book-list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(5, 420px);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  grid-column-start: 3;
  grid-column-end: 5;
}
.preview-image {
  height: 330px;
  background-size: cover;
}
