.relate-preview-image {
  height: 280px;
  background-size: cover;
}
.related-book-list {
  padding-left: 40px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  /* grid-template-rows: repeat(5, 420px); */
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.list-image {
  height: 100px;
  width: 60px;
  background-size: cover;
}

.book-images {
  width: 300px;
  height: 450px;
}
.discount {
  font-weight: 400;
  margin-left: 8px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  line-height: 22px;
  font-size: 18px;
  padding: 0px 4px;
  align-self: end;
}
.quantity-input {
  width: 40px !important;
  font-size: 13px !important;
}

.quantity-btn {
  font-size: 18px !important;
  padding: 0 12px !important;
  font-weight: bold !important;
  height: 40px !important;
  width: 40px !important;
  color: #a9a9a9 !important;
}

.btn-submit {
  height: 45px !important;
  margin-top: 30px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
  background-color: rgb(255, 66, 78) !important;
  color: white !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
}
.btn-submit-disable {
  margin-top: 30px;
  width: 300px !important;
  background-color: slategray !important;
  color: white !important;
}
.book-rating {
  color: orangered;
  font-size: 20px;
  margin-bottom: 0;
}
.ant-rate {
  /* color: orangered !important;
  font-size: 30px !important; */
}
.ant-comment-inner {
  padding-bottom: 0px !important;
}
.ant-collapse-header {
  padding: 5px 0 !important;
}
.ant-collapse-arrow {
  font-size: 8px !important;
  height: 23px !important;
  margin-right: 8px !important;
  color: darkgray !important;
}

