.cate-book {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  background: white;
  width: 100%;
  grid-column-gap: 70px;
}

.facet-list {
  min-width: 200px;
  margin-top: 3rem;
  padding-left: 30px;
}
.right-content {
  padding-left: 70px;

  min-width: 800px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(5, 420px); */
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.preview-image {
  height: 330px;
  background-size: cover;
}
