.home-cate-book {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  background: white;
  width: 100%;
  grid-column-gap: 70px;
}

.home-facet-list {
  min-width: 150px;
  margin-top: 3rem;
  padding-left: 30px;
}
.home-right-content {
  padding-left: 70px;
  padding-right: 50px;
  margin-top: 0px;

  width: 100%;
}

.home-book-list {
  padding-top: 5px;
  border-top: 2px solid #efefef !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  /* grid-template-rows: repeat(5, 420px); */
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}
.home-preview-image {
  height: 330px;
  background-size: cover;
}

.home-type-book-image {
  height: 700px;
  width: 250px;
}
.home-title-text {
  color: dimgrey !important;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.ant-tabs-nav-wrap {
  padding-left: 330px;
}
.ant-tabs-tab {
  font-size: 16px;
}
.ant-tabs-nav::before {
  border-bottom: 0px solid #efefef !important;
}

.image-banner {
  display: flex;
  width: 100%;
  height: 400px;
}
.home-right-banner-content {
  padding-right: 40px;
  padding-left: 30px;
  margin-top: 30px;
  width: calc(100% - 280px);
}
.home-title {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  color: dimgrey;
}
.banner-left {
  height: 300px;
  width: 250px;
  padding-top: 300px;
}
.allbook {
  display: flex;

  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  color: darkslateblue;
  align-items: center;
  padding-left: 20px;
}
.allbook:hover {
  text-decoration: underline;
}
.home-facet-banner {
  min-width: 210px;
  margin-top: 150px;
  padding-left: 40px;
}
.shoppingNow {
  padding-left: 320px;
  margin-top: 20px;
  color: dimgrey !important;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
