.home-cate-book {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  background: white;
  width: 100%;
  grid-column-gap: 70px;
}

.home-facet-list {
  min-width: 200px;
  margin-top: 3rem;
  padding-left: 30px;
}
.home-right-content {
  padding-left: 70px;
  padding-right: 50px;
  margin-top: 30px;
  width: 100%;
}

.home-book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  /* grid-template-rows: repeat(5, 420px); */
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  padding-top: 10px;
  border-top: 2px solid #efefef;
}
.home-preview-image {
  height: 330px;
  background-size: cover;
}

.home-type-book-image {
  height: 700px;
  width: 250px;
}
.home-title-text {
  color: dimgrey !important;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
